* {
  box-sizing: border-box;
}
#algos {
  /* margin-right: 60px; */
  /* padding: 5px; */
  display: flex;
  width: 200px;
  height: 40px;
  font-size: 20px;

  justify-content: center;
  align-content: center;

  border: 0;

  border-radius: 10px;
}

body {
  font-family: "Press Start 2P", cursive;
  background-color: #393e46;
  text-align: center;
  margin: 0;
}
h1 {
  color: #fecb89;
}
#canvas {
  margin-top: 40px;
  display: flex;
  border: 2px solid;
  border-color: white;
  position: fixed;
}
#clearbtn,
#findbtn {
  margin-top: 20px;
  padding: 20px;
  /* margin-right: 5%; */
  background-color: #aa26da;
  font-family: "Press Start 2P", cursive;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  border: 0;
}
#clearbtn:hover,
#findbtn:hover {
  background-color: #5c2a9d;
  color: #f0a500;
  font-family: "Press Start 2P", cursive;
}
#clearbtn:focus,
#findbtn:focus {
  outline: 0;
  border: 2px solid #aa26da;
}
.playbar {
  display: flex;
  margin: auto;
  padding: 0 300px;
  align-items: flex-end;
  margin-bottom: 30px;
  justify-content: space-evenly;
}
#myCanvas {
  margin: auto;
}
